<div class="list-block">
  <span class="category-container"><h5 class="category image-overlay-text">{{listing.category.name}}</h5></span>
  <img src="{{listing.image}}" alt="{{listing.owner}}" class="list-view-image">
  <h3 class="list-view-title">{{listing.title}}</h3>
  <div class="by-line">
    <span class="owner">{{listing.owner}}</span>
  </div>
  {{update-listing listing=listing update="update"}}
  <button {{action 'delete' listing}}>Delete</button>
</div>
