<!-- <h4>Location: {{fullLocation}}</h4> -->

<!-- Listings available in {{category.name}}: -->

<ul>
  {{#each sortedListings as |listing|}}
    <li>{{#link-to 'listing' listing.id}}{{listing.owner}}'s {{listing.title}}{{/link-to}}</li>
  {{/each}}
</ul>


<!-- <button {{action 'destroyCity' city}}>Delete</button> -->
