<div class="container">
  <h3>{{listing.title}}  ({{listing.city}})</h3>
  <h4>{{listing.price}}</h4>
  <img src={{listing.image}}>
  <h4>{{listing.body}}</h4>

  <h6>{{listing.owner}}</h6>
  <h6>{{listing.category}}</h6>
  <h6>{{listing.date}}</h6>
</div>
